body {
  background-color: $color__white;
  color: $color__text-primary;
}

a {
  &:hover,
  &:focus {
    color: $color__link;
  }
}

.wp-caption-text {
  text-align: right;
  color: $color__text-light;
}

.entry-meta {
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  border-bottom: none;
  color: $color__text-dark;

  a,
  a:link,
  a:visited {
    color: $color__link;
  }

  .meta-date {
    padding-left: .75em;
  }

  span {
    &:after {
      content: none;
    }
  }
}

.entry-tags {
  .meta-tags {
    a,
    a:link,
    a:visited {
      padding: 0;
      background-color: transparent;
      font-family: $font__pt-sans;
      color: $color__text-light;
      font-weight: normal;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}

.more-link,
.more-link:link,
.more-link:visited {
  padding: 0;
  background-color: transparent;
  font-family: $font__pt-sans;
  color: $color__text-light;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
}

i.icon,
i.icon:after {
  font-style: normal;
}

.meta-category,
.meta-author a {
  text-transform: uppercase;
}

.screen-reader-text {
  @include visually-hidden;
}

.highlight {
  background-color: $color__accent;
  border-radius: 6px;
  text-align: center;
  a,
  a:link,
  a:visited,
  a:hover,
  a:focus {
    color: $color__text-inverted !important;
  }
}

.first-word {
  color: $color__text-dark;
  font-family: $font__kanit-sans;
  text-transform: uppercase;
  font-size: 50px;
	letter-spacing: 0.7px;
	line-height: 1em;
	padding-right: 4px;
  font-weight: 800;
}
