.site-footer,
.footer-wrap {
  color: $color__black;
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: 1.5em;

  a,
  a:link,
  a:visited {
    color: $color__gray-light;
  }
}

.footer-wrap {
  border-top: 2px solid $color__gray-lighter;
  background: none;
  position: relative;
  margin-top: 2em;
}

.site-footer {
  padding: 0 2em;
  .site-info {
    padding: 2em 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  .footer-menu {
    padding: 2em 0;
  }
}

.footer-menu {
  @include no-bullets;

  font-weight: 700;
  columns: 2;

  li {
    text-transform: uppercase;
  }
}

.footer-head {
  width: 320px;
  display: none;

  @include breakpoint(sm) {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: block
  }
}

.footer-menus {
  display: flex;
  font-size: 1.2em;

  .social-navigation {
    padding: 2em 0 0 4em;
    #menu-social li a::before {
      font-size: 22px;
    }
  }
}

.footer-content {
  padding-left: 0;
  padding-bottom: 6em;
  @include breakpoint(sm) {
    padding-left: 180px;
    padding-bottom: 0;
  }
}
