input[type="submit"] {
  background-color: $color__accent;
  font-family: $font__sans-serif;
  border-radius: 6px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  label {
    display: block;
    font-family: $font__sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }
}

button,
a.button {
  display: inline-block;
  min-width: 150px;
  font-weight: 700;
  color: $color__gray;
  padding: 10px 15px;
  background-color: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border: 0;
  text-align: center;

  &:hover {
    background: $color__black;
  }

  &.subscribe {
    display: block;
  }
}

.top-search {
  .search-form {
    width: 100&
  }
  button {
    padding: .5em;
    min-width: inherit;
  }
}

input[type="email"] {
  padding: 0.1em 0.6em 0em;
  border-radius: 3px;
  &::placeholder {
    color: $color__text-xlight;
  }

  &.newsletter-email {
    font-size: 0.9em;
    margin-left: 0.4em;
    vertical-align: top;
  }
}

