input[type="submit"] {
  background-color: $color__accent;
}

button,
a.button {
  display: inline-block;
  min-width: 150px;
  font-weight: 700;
  color: $color__gray;
  padding: 10px 15px;
  background-color: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border: 0;
  text-align: center;

  &:hover {
    background: $color__black;
  }

  &.subscribe {
    display: block;
  }
}

.top-search {
  .search-form {
    width: 100&
  }
  button {
    padding: .5em;
    min-width: inherit;
  }
}

.infinite-scroll {
  #infinite-handle {
    span {
      background-color: transparent;
      color: $color__gray;
      text-transform: uppercase;
      font-size: 2.5em;
      font-family: $font__pt-sans;
      font-weight: 300;

      &:hover,
      &focus {
        background-color: transparent;
      }
    }
  }
}
