.site-header {
  background-color: $color__white;
  width: 100%;

  &.fixed-header {
    position: fixed;
    background-color: $color__white;
    z-index: 10;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    1px 2px 5px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         1px 2px 5px 0px rgba(50, 50, 50, 0.1);
    .custom-logo {
      max-height: 24px;
      width: auto;
    }
    .site-branding {
      margin: 0.3em 0;
    }
    .main-navigation-menu li:not(.subscribe) a {
      padding-left: 0;
    }
    .main-navigation-menu li.subscribe {
      margin-top: 1em;
    }
  }

  .site-title {
    margin-top: 0;
  }
}

/**
 * Simple Header
 * Display simple header
 * Used for mobile and scrolled view
 */
.site-header {
  .header-main {
    display: flex;
    flex-wrap: wrap;
    padding-top: .2em;
    padding-bottom: .2em;

    justify-content: space-between;
    align-items: center;

    position: relative;

    @include breakpoint(sm) {
      position: initial;
    }

    &> * {
      transition: flex-grow 0.8s linear;
    }

    //Menu Toggle
    .main-navigation-toggle {
      float: none;
      display: block;
      padding: 0;
      margin: 0;
      order: 1;
      min-width: auto;
      align-self: center;
      text-align: left;

      flex: 0 1 15%;
      position: initial;

    }

    //Logo
    .site-branding {
      float: none;
      order: 2;
      flex: 1;
      align-self: center;
      text-align: center;
    }

    //Mobile Menu
    .mobile-navigation {
      order: 3;
      flex: 0 1 15%;

      right: 1.5em;
      top: 1.25em;
      position: initial;
      margin-top: -6px;

      @include breakpoint(sm) {
        margin-top: 0;
      }

      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
          white-space: nowrap;
        }

        li + li {
          margin-left: .5em;
        }
      }

      .subscribe-2 {
        font-weight: bold;
        letter-spacing: 0.55px;
      }
    }

    /**
     * Always in these positions
     */
    .primary-navigation {
      display: none;
      opacity: 0;
      max-height: 0;
      order: 4;
      flex-basis: 100%;

      transition: max-height 1s, opacity 500ms;
      -webkit-transition: max-height 1s, opacity 500ms;

      &.active {
        display: block !important;
        opacity: 1;
        max-height: 1000px;

        transition: max-height 1s, opacity 500ms;
        -webkit-transition: max-height 1s, opacity 500ms;
      }
    }

    .top-search {
      flex: 1 1 100%;
      order: 5;
    }


    //Hide Header Widget and Social Menu
    .header-widget,
    .social-navigation {
      display: none;
      flex-grow: 0.00001;
      order: 6;
    }

  }
}


/**
 * Full Header
 * Display full header
 */
 .site-header:not(.fixed-header) {

   @include breakpoint(md) {

     .header-main {

       //Logo
       .site-branding {
         flex: 1;
         order: 1;
         text-align: left;

         .custom-logo {
           margin: 0;
         }
       }

       //Header Widget (usually newsletter sign-up)
       .header-widget {
         display: block;
         flex: 1.5;
         order: 2;
       }

       //Social Menu
       .social-navigation {
         display: block;
         flex: 0 1 auto;
         order: 3;
       }

       .primary-navigation {
         display: block ;
         opacity: 1;
         max-height: 200px;

         transition: max-height 1s, opacity 500ms;
         -webkit-transition: max-height 1s, opacity 500ms;

        .main-navigation-menu  {
          display: flex !important;
          flex-direction: row;
          justify-content: space-between;

        }

       }

       //Hide Menu Toggle and Mobile Menu
       .main-navigation-toggle,
       .mobile-navigation {
         display: none;
         order: 6;
         flex-grow: 0.00001;
       }
     }

   }

 }

.site-branding {
  .site-title {
    font-family: $font__serif;
    color: $color__text-light;
    a {
      font-weight: normal;
      text-transform: uppercase;

      &:link,
      &:visited {
        color: $color__text-light;
      }
    }

    font-size: 1em;

    @include breakpoint(sm) {
      font-size: 1.2em;
    }

    @include breakpoint(md) {
      font-size: 1.2em;
    }
  }

  .custom-logo {
    display: block;
    margin: 0;
    width: 100%;
    max-width: 180px;
    margin: 0 auto;
    transition: max-width 1s linear;
  }

  @include breakpoint(sm) {
    .custom-logo {
      max-width: 200px;
      transition: max-width 1s linear;
    }
  }

   @include breakpoint(md) {
     .custom-logo {
       max-width: 280px;
       transition: max-width 1s linear;
     }
   }

}
