.mh-site-logo {
  * {
    box-sizing: border-box;
  }
  padding-right: 0;
  padding-left: 0;
}

.header-widget {
  .mh-widget {
    padding: 20px;
  }

  .widget_wpcom_social_media_icons_widget {
    margin-bottom: 0;
    padding-bottom: 0;

    ul {
      text-align: right;
    }

    .genericon {
      font-size: 120%;
    }
  }

  .mh-widget.widget_search {
    margin-bottom: 0;
    padding-top: 10px;
  }
}
