.mh-home-columns {
  .post {
    h3.entry-title {
      margin-top: .5em;
    }

    .mh-loop-content {
      @include clearfix-before;
    }

    .mh-loop-thumb {
      width: 100%;
      max-height: 200px;
      overflow: hidden;

      img {
        max-width: 100%;
      }
    }
  }
}
