.container {
  max-width: $size__site-width;
}

.site-content {
  padding-top: 0;
}

.page-header {
  margin-bottom: 1.5em;
}

.single {}

.archive {

  .articles-list {}

}

.no-sidebar {
  .content-single {
    max-width: none;
  }
}


.post-layout-four-columns .post-wrapper .post-column {
  @include breakpoint(sm) {
    width: 50%;
  }

  @include breakpoint(md) {
    width: 33.33333%;
  }

  @include breakpoint(lg) {
    width: 25%;
  }
}

.post-layout-four-columns .post-wrapper .post-featured {
  width: 100%;
}

.login-modal {
  z-index: 100;
}
