.container {
  max-width: $size__site-width;
}

.site-content {
  padding-top: 1.5em;
}

.page-header {
  margin-bottom: 1.5em;
}

.single {}

.archive {

  .articles-list {}

}


.home,
.archive,
.page-template-page-blogs {
  .articles-list {
    * {
      box-sizing: border-box;
    }

    @include breakpoint(md) {
      @include columns(2);
    }
    @include breakpoint(lg)  {
      @include columns(3);
      .current-issue {}
    }
    @include breakpoint(xl) {
      @include columns(4);
      .current-issue {}
    }
  }
}
