nav ul {
  @include no-bullets;
}

.primary-navigation,
.main-navigation-menu {
  float: none;
}

.main-navigation-menu {

  width: 100%;

  li {
    text-transform: uppercase;
    text-align: left;

    a {
      font-size: 12px;
      text-decoration: none;
    }

    a,
    a:link,
    a:visited {
      color: $color__gray;
    }
    a:hover,
    a:focus {
      color: darken( $color__gray, 10% );
    }

    &.current-menu-item > a {
      color: $color__black;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 3px solid $color__black;
    }
  }

  @include breakpoint(md) {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      float: none;
      flex-grow: 1;
      flex-shrink: 1;
      text-align: center;

      &:first-child {
        a {}
      }
      &:last-child {
        a {}
      }
    }
  }

  .menu-search-icon {
    .screen-reader-text:before {}

    a {
      padding-bottom: 0;

      &::before {
        font-family: $font__icon;
        content: '\f400';
        display: inline-block;
        font-size: 18px;
        height: 16px;
        line-height: 16px;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
      }
    }
  }

}

/**
 * Don't add border to Past Issues link when on Current Issue
 */
.single-magazines .main-navigation-menu {
  li.current-menu-item a[href$='/magazine/'] {
    border-bottom: none;
    color: $color__gray;
    font-weight: normal;
  }
}

#menu-social {
  ul {
    list-style: none;
    margin: 0 0 25px;
    text-align: center;
    li {
      display: inline-block;
      position: relative;
    }
  }
  li a {
    &::before {
      content: '\f408';
      display: inline-block;
      padding: 0 5px;
      font-family: $font__icon;
      font-size: 16px;
      vertical-align: top;
      color: $color__text-light;
      -webkit-font-smoothing: antialiased;
    }
    &[href*="feed"]::before,
    &[href*="rss"]::before {
      content: '\f413';
    }
    &[href*="wordpress.org"]::before,
    &[href*="wordpress.com"]::before {
      content: '\f205';
    }
    &[href*="facebook.com"]::before {
      content: '\f203';
    }
    &[href*="twitter.com"]::before {
      content: '\f202';
    }
    &[href*="dribbble.com"]::before {
      content: '\f201';
    }
    &[href*="plus.google.com"]::before {
      content: '\f206';
    }
    &[href*="pinterest.com"]::before {
      content: '\f210';
    }
    &[href*="github.com"]::before {
      content: '\f200';
    }
    &[href*="tumblr.com"]::before {
      content: '\f214';
    }
    &[href*="youtube.com"]::before {
      content: '\f213';
    }
    &[href*="flickr.com"]::before {
      content: '\f211';
    }
    &[href*="vimeo.com"]::before {
      content: '\f212';
    }
    &[href*="instagram.com"]::before {
      content: '\f215';
    }
    &[href*="codepen.io"]::before {
      content: '\f216';
    }
    &[href*="linkedin.com"]::before {
      content: '\f208';
    }
  }
}

.social-navigation-menu {
  display: flex;
  justify-content: center;

  @include breakpoint(lg) {
    justify-content: flex-end;
  }

  li {
    margin-right: 1em;
  }

}

.main-navigation-toggle {
  min-width: auto;
  padding: 0;
  &:after {
    color: $color__gray;
  }
  &:hover:after,
  &:focus:after {
    color: $color__gray;
  }
}


.post-navigation {
  .nav-links {
    a,
    a:link,
    a:visited {
      padding: 0;
      background-color: transparent;
      font-family: $font__pt-sans;
      color: $color__gray;
      font-weight: normal;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}
