nav ul {
  @include no-bullets;
}

.primary-navigation,
.main-navigation-menu {
  float: none;
}

.main-navigation-menu {

  width: 100%;

  li {
    text-transform: uppercase;
    text-align: left;

    a {
      font-size: 12px;
      text-decoration: none;
    }

    a,
    a:link,
    a:visited {
      color: $color__gray;
    }
    a:hover,
    a:focus {
      color: darken( $color__gray, 10% );
    }

    &.current-menu-item > a {
      font-weight: bold;
      text-decoration: none;
      border-bottom: 3px solid $color__black;
    }
  }

  @include breakpoint(md) {
    display: flex !important;
    justify-content: space-between;

    li {
      float: none;
      flex-grow: 1;
      flex-shrink: 1;
      text-align: center;

      &:first-child {
        a {
          padding-left: 0;
        }
      }
      &:last-child {
        text-align: right;
        a {
          padding-right: 0;
        }
      }
    }
  }

  .menu-search-icon {
    .screen-reader-text:before {}

    .icon-search:before {
      font-family: 'FontAwesome';
      content: '\f002';
    }
  }

}

.social-navigation-menu {

  display: flex;
  justify-content: center;

  li {
    margin-right: 1em;
  }

  @include breakpoint(lg) {
    justify-content: flex-end;
  }

  .fa,
  .icon {
    font-family: 'FontAwesome';
    font-size: 18px;
    font-style: normal;
    color: $color__text-light;
  }

  a[href*='facebook.com'] .fa:before,
  a[href*='facebook.com'] .icon:before {
    content: '\f09a';
  }
  a[href*='twitter.com'] .fa:before,
  a[href*='twitter.com'] .icon:before {
    content: '\f099';
  }
  a[href*='tumblr.com'] .fa:before,
  a[href*='tumblr.com'] .icon:before {
    content: '\f173';
  }
  a[href*='instagram.com'] .fa:before,
  a[href*='instagram.com'] .icon:before {
    content: '\f16d';
  }
  a[href*='feed'] .fa:before,
  a[href*='rss'] .fa:before,
  a[href*='feed'] .icon:before,
  a[href*='rss'] .icon:before {
    content: '\f09e';
  }

}

.main-navigation-toggle {
  min-width: auto;
  padding: 0;
  &:after {
    color: $color__gray;
  }
  &:hover:after,
  &:focus:after {
    color: $color__gray;
  }
}

.post-navigation {
  .nav-links {
    a,
    a:link,
    a:visited {
      padding: 0;
      background-color: transparent;
      font-family: $font__pt-sans;
      color: $color__gray;
      font-weight: normal;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}
