nav ul {
  @include no-bullets;
}

.primary-navigation,
.main-navigation-menu {
  float: none;
}

.primary-navigation {
  padding-top: .5em;
  border-top: 1px solid $color__gray;
}

.main-navigation-menu {
  float: none;
  display: flex !important;
  flex-wrap: nowrap;
  flex-direction: column;

  li {
    text-transform: uppercase;
    text-align: left;

    a {
      font-size: 11px;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 0.55px;
      line-height: 1.5em;
    }

    a,
    a:link,
    a:visited {
      color: $color__text-light;
    }
    a:hover,
    a:focus {
      color: darken( $color__text-light, 10% );
    }

    &.current-menu-item > a {
      color: $color__black;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 3px solid $color__black;
    }

    &:first-child a {
      padding-left: 0;
    }

    &.subscribe a {
      font-size: 13px;
      font-weight: bold;
    }
  }

  .menu-search-icon {
    .screen-reader-text:before {}

    a {
      padding-bottom: 0;
      display: inline-block;

      &::before {
        font-family: $font__icon;
        content: '\f400';
        display: inline-block;
        font-size: 18px;
        height: 16px;
        line-height: 16px;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
      }
    }
  }

}

/**
 * Don't add border to Past Issues link when on Current Issue
 */
.single-magazines .main-navigation-menu {
  li.current-menu-item a[href$='/magazine/'] {
    border-bottom: none;
    color: $color__gray;
    font-weight: normal;
  }
}

#menu-social {
  ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      display: block;
      align-self: center;
    }
  }
  li a {
    &::before {
      content: '\f408';
      display: inline-block;
      padding: 0 5px;
      font-family: $font__icon;
      font-size: 16px;
      vertical-align: top;
      color: $color__text-light;
      -webkit-font-smoothing: antialiased;
    }
    &[href*="feed"]::before,
    &[href*="rss"]::before {
      content: '\f413';
    }
    &[href*="wordpress.org"]::before,
    &[href*="wordpress.com"]::before {
      content: '\f205';
    }
    &[href*="facebook.com"]::before {
      content: '\f203';
    }
    &[href*="twitter.com"]::before {
      content: '\f202';
    }
    &[href*="dribbble.com"]::before {
      content: '\f201';
    }
    &[href*="plus.google.com"]::before {
      content: '\f206';
    }
    &[href*="pinterest.com"]::before {
      content: '\f210';
    }
    &[href*="github.com"]::before {
      content: '\f200';
    }
    &[href*="tumblr.com"]::before {
      content: '\f214';
    }
    &[href*="youtube.com"]::before {
      content: '\f213';
    }
    &[href*="flickr.com"]::before {
      content: '\f211';
    }
    &[href*="vimeo.com"]::before {
      content: '\f212';
    }
    &[href*="instagram.com"]::before {
      content: '\f215';
    }
    &[href*="codepen.io"]::before {
      content: '\f216';
    }
    &[href*="linkedin.com"]::before {
      content: '\f208';
    }
  }
}

.social-navigation-menu {
  display: flex;
  justify-content: flex-end;

  li {}

}


.main-navigation-toggle {
	display: inline-block;
	float: right;
	margin: 1em 0;
	padding: 1em;
	background: none;
	&:hover {
		background: none;
		cursor: pointer;
		&:after {
			color: $color__text-light;
		}
	}
	&:focus,
  &:active {
		background: none;
		cursor: pointer;
	}
	&:after {
		display: inline-block;
		float: left;
		color: $color__text-light;
		content: '\f419';
		vertical-align: middle;
		text-decoration: inherit;
		font-size: 24px;
		font-family: $font__icon;
		line-height: 1;
	}
}


.post-navigation {
  border-top-width: 1px;
  border-top-color: $color__gray-light;
  .nav-links {
    a,
    a:link,
    a:visited {
      padding: 0;
      background-color: transparent;
      font-family: $font__sans-serif;
      color: $color__gray;
      font-weight: normal;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}
