.page {
  .entry-content {
    font-family: $font__sans-serif;
    font-weight: 300;
    font-size: 1.2em;
  }

  .entry-header {
    margin-bottom: 2em;
  }
}

.page .entry-content h3,
.about-page-title {
  border-bottom: 1px solid $color__gray-light;
  font-family: $font__sans-serif;
  color: $color__text-light;
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
}

.page-title {
  font-size: 1.6em;
  font-family: $font__sans-serif;
  text-transform: uppercase;
}

.editorial-title {
  font-weight: bold;
  font-family: $font__sans-serif;
  font-size: 1.2em;
  margin-bottom: 0.4em;
}
.content-about {
  ul {
    list-style-type: none;
    padding: 0;
    font-weight: 300;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  .about-contributors {
    font-size: 1em;
  }
}

.author .archive-description {
  font-weight: 300;
  max-width: 620px;
  margin: 1em auto 3em auto;
}

.contributors {
  ul {
    padding: 0;
    columns: 1;
    @include breakpoint(sm) {
      columns: 2;
    }
    @include breakpoint(md) {
      columns: 3;
    }
  }
  li {
    list-style-type: none;
    font-size: 0.9em;
    padding: 0 0 2em 0;
    break-inside: avoid;
  }
}
