.page {
  .entry-content {
    font-family: $font__sans-serif;
    font-weight: 300;
    font-size: 1.2em;

    h3 {
      border-bottom: 1px solid $color__gray-light;
      font-family: $font__sans-serif;
      color: $color__text-light;
      font-size: 14px;
      letter-spacing: 1.2px;
      line-height: 1.5em;
      font-weight: 300;
      text-transform: uppercase;
    }

  }

  .entry-header {
    margin-bottom: 2em;
  }
}

.page-title {
  font-size: 1.6em;
  font-family: $font__sans-serif;
  text-transform: uppercase;
}
