
/**
 * JetPack Infinite Scroll
 */
.infinite-scroll {
  #infinite-handle {
    span {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      background-color: transparent;
      color: $color__gray;
      text-transform: uppercase;
      font-size: 2.5em;
      font-family: $font__pt-sans;
      font-weight: 300;

      &:hover,
      &focus {
        background-color: transparent;
      }
    }
  }
}

#jp-relatedposts h3.jp-relatedposts-headline em {
    font-weight: normal;
}

.jp-relatedposts-headline em {
  font-family: $font__pt-sans;
  color: $color__gray;
  font-size: 1.5em;
  text-transform: uppercase;
}

.jp-relatedposts-post-date {
  @extend .entry-meta;
}
