
/**
 * JetPack Infinite Scroll
 */
.infinite-scroll {
  #infinite-handle {
    span {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      background-color: transparent;
      color: $color__gray;
      text-transform: uppercase;
      font-size: 2.5em;
      font-family: $font__pt-sans;
      font-weight: 300;

      &:hover,
      &focus {
        background-color: transparent;
      }
    }
  }
}

#jp-relatedposts h3.jp-relatedposts-headline em {
    font-weight: normal;
}

.jp-relatedposts-headline em,
.relatedposts-headline em {
  font-family: $font__pt-sans;
  color: $color__gray;
  font-size: 1.25rem;
  font-style: normal;
  text-transform: uppercase;
}

.jp-relatedposts-grid,
.relatedposts-grid {

  @include breakpoint( md ) {
    @include columns(2);
  }

  @include breakpoint( lg ) {
    @include columns(3);
  }

  @include breakpoint( xlg ) {
    @include columns(4);
  }

}

.jp-relatedposts-post-title,
.relatedposts-post-title {
  @extend .entry-title;
}
