
/**
 * JetPack Infinite Scroll
 */
.infinite-scroll {
  #infinite-handle {
    margin-bottom: 2em;

    span {
      width: 266px;
      height: 61px;
      margin: 0;
      background-image: url('../images/load-more.png');
      background-size: contain;
      background-color: transparent;
      border: none;

      &:hover,
      &:focus {
        background-color: transparent;
      }

      button {
        @include visually-hidden;
      }
    }
  }
}

/**
 * JetPack Related Posts
 */
.jp-relatedposts-post-thumbs {
  &> .jp-relatedposts-post-a {
    position: relative;
    display: block;
    background-color: $color__gray-light;
    width: 100%;
    margin-top: 0;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      object-fit: cover;
    }
  }

}

.jp-relatedposts-headline em,
.relatedposts-headline em {
  font-family: $font__sans-serif;
  color: $color__gray;
  font-size: 1.25rem;
  font-style: normal;
  text-transform: uppercase;
}

.jp-relatedposts-grid,
.relatedposts-grid {

  @include breakpoint( sm ) {
    @include columns(2);
  }

  @include breakpoint( md ) {
    @include columns(3);
  }

  @include breakpoint( lg ) {
    @include columns(4);
  }

}

.jp-relatedposts-post-title,
.relatedposts-post-title {
  // @extend .entry-title;
  margin-top: .75em;
  margin-bottom: .25em;
  font-family: $font__serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.25rem;
}

.jp-relatedposts-post-context {
  margin-top: .25em;
  margin-bottom: .25em;
}

.sharedaddy {
  margin-top: 1em;
  .sd-social-icon  a.sd-button {
    background-color: $color__gray !important;
  }
}
