/**
 * Single Post
 */
.single {

  .post {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

  .entry-subhead {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .entry-content {
    line-height: 1.5em;
    font-family: $font__serif;
    font-size: 1.26rem;

    p,
    blockquote,
    li {
      line-height: 1.5em;
      font-size: 1.26rem;
    }
  }

  .entry-meta {
    padding-right: 0;
    padding-left: 0;
    border-top: none;
    border-bottom: none;
  }

  .entry-meta-author a,
  .entry-meta-date {
    text-transform: uppercase;
  }

  .entry-thumbnail {

    img {
      max-width: 100%;
      width: initial;
    }
  }

  .wp-caption-text {
    margin-bottom: 1em;
  }
}

.post-layout-four-columns {
  .post-wrapper {
    .type-post,
    .type-blogs,
    .type-magazines {
      .entry-title {
        margin-top: .25em;
        font-size: 1.45em;
        line-height: 1.2;
      }
    }
  }
}
