/**
 * Single Post
 */

.single {

  .hentry {
    max-width: $size__content-width;
    margin-right: auto;
    margin-left: auto;
  }

  .entry-header {
    text-align: center;
  }

  .entry-title {
    display: block;
    margin-bottom: 1em;
  }

  .entry-subhead {
    margin-bottom: 1em;
  }

  .entry-content {
    line-height: 1.5em;
    font-family: $font__serif;
    font-size: 1.26rem;

    p,
    blockquote,
    li {
      line-height: 1.5em;
      font-size: 1.26rem;
    }
  }

  .single-post-thumbnail {
    margin-right: auto;
    margin-left: auto;

    img {
      width: 100%;
      height: auto;
    }

  }

  .entry-meta {
    margin-bottom: 2em;

    .meta-date a,
    .meta-date a:link,
    .meta-date a:visited {
      color: $color__text-dark;
    }
  }

  .meta-category {
    a {
      color: $color__text-dark;
    }
  }

  .meta-author a  {
    text-transform: uppercase;
  }

  .entry-thumbnail {

    img {
      max-width: 100%;
      width: initial;
    }
  }

  .wp-caption-text {
    margin-bottom: 1em;
  }

  .wp-post-image {
    margin-bottom: 0;
  }

  .content-footer-widget {
    border-top: 1px solid $color__gray-light;

    .textwidget {
      text-align: center;
      font-family: $font__droid-serif;
      font-weight: bold;
      font-style: italic;
    }
  }
}

.post-layout-four-columns {
  .post-wrapper {
    .type-post,
    .type-blogs,
    .type-magazines {

    }
  }
}

.post-column {
  margin-bottom: 1em;
}

/**
 * Archives
 */
.archive {
  .hentry {}
  h2.entry-title {
    margin-top: .25em;
    font-size: 1.45em;
    line-height: 1.2;
  }
  .meta-date {
    @include visually-hidden;
  }
}
