.widget-title {
  border-color: $color__gray-light;
  border-width: 1px;
  font-family: $font__sans-serif;
  color: $color__text-light;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
}

.widget_mc4wp_form_widget {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  margin: 0;
  padding: 0.9em 0 0 0;

  .widget-title {
    line-height: 1;
    flex-basis: 25%;
    padding-top: 0.2em;
  }
  .mc4wp-form {
    font-size: 1.1rem;
  }

  input[type="submit"] {
    font-size: 0.8em;
    padding: 0.2em 0.5em;
  }
}

.newsletter-name {
  @include visually-hidden;
}
.newsletter-city {
  @include visually-hidden;
}

.header-widget {
  .widget_latest_tweets_widget {
    display: flex;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 0;
    max-width: 500px; /* todo */
    &::before {
      content: '\f202';
      font-family: $font__icon;
      font-size: 16px;
      color: $color__text-light;
      margin-top: 0.3em;
      -webkit-font-smoothing: antialiased;
    }


    .tweet-text {
      margin: 0;
    }
    .tweet-details {
      display: none;
    }
    ul {
      list-style-type: none;
    }
  }
}

.article-widget {
  border-bottom: 1px solid $color__gray-light;
}

.single-subscribe-widget {
  display: flex;
  max-width: 460px;
  margin: 2em auto;
  figure {
    flex: 1;
    position: relative;
  }
  form {
    flex: 1.5;
    padding-left: 1em;
    h1 {
      text-transform: uppercase;
      color: $color__accent;
      font-family: $font__sans-serif;
      font-size: 1rem;
      text-align: left;
      margin-bottom: 1.5em;
      span {
        padding-left: 0.5em;
        font-weight: 300;
      }
    }
    label {
      display: block;
      text-align: left;
      text-transform: uppercase;
      font-weight: 700;
    }
    input[type="email"] {
      width: 100%;
    }
    input[type="submit"] {
      display: block;
      margin: 2em 0 0 0;
    }
  }
  .starburst {
    position: absolute;
    top: 60px;
    left: -40px;
  }
}

/* For expanding the editor's notes */
.show-more-section  input#show-more:checked + .hide {
  max-height: 1000em !important;
}
