.widget-title {
  border-color: $color__gray-light;
  border-width: 1px;
  font-family: $font__sans-serif;
  color: $color__text-light;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
}

.widget_mc4wp_form_widget {
  display: flex;
  justify-content: center;

  .widget-title {
    line-height: 1;
    flex-basis: 25%;
    padding-top: 0.3em;
  }
  .mc4wp-form {}

  input[type="submit"] {
    background-color: transparent;
    color: $color__gray;
    text-decoration: underline;
    font-weight: normal;
    font-size: 0.8em;
  }
}

.newsletter-name {
  @include visually-hidden;
}
.newsletter-city {
  @include visually-hidden;
}

.header-widget {
  .widget_mc4wp_form_widget {
    margin-bottom: 0;
  }
}

.article-widget {
  border-bottom: 1px solid $color__gray-light;
}
