/*
Theme Name:     The New Inquiry
Theme URI:      https://github.com/misfist/tni-theme
Description:    Custom theme for The New Inquiry.
Author:         Pea
Author URI:     https://github.com/misfist
Template:       gridbox
Version:        0.1.4
Text Domain:    tni
*/

@import 'variables';
@import 'mixins';
@import 'common';
@import 'layout';
@import 'typography';
@import 'navigation';
@import 'posts';
@import 'pages';
@import 'widgets';
@import 'forms';
@import 'media';
@import 'header';
@import 'footer';
@import 'plugins';
@import 'home';
