/*
Theme Name:     The New Inquiry
Theme URI:      https://github.com/misfist/tni-theme
Description:    Custom theme for The New Inquiry.
Author:         Pea
Author URI:     https://github.com/misfist
Template:       mh-magazine-lite
Version:        0.0.1
Text Domain:    tni
*/
/**
 * Layout variables
 */
/**
 * Color variables
 */
/* Social Media - http://www.paulund.co.uk/social-media-colours */
/**
 * Typography Variables
 */
/**
 * Elements
 */
/**
 * Lists
 */
body {
  background-color: #fff;
  color: #333333; }

.mh-container-outer {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

a {
  color: #598fb6; }

a.mh-excerpt-more {
  color: #598fb6; }

.wp-caption-text {
  font-weight: normal;
  font-style: italic;
  color: #9e9e9e; }

.entry-meta {
  font-family: "PT Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.85em;
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  border-bottom: none; }

.entry-meta-author a,
.entry-meta-date {
  text-transform: uppercase; }

.first-word {
  color: #2a2a2a;
  font-size: 200%;
  font-family: "Kanit", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 0.7px;
  line-height: 1em;
  padding-right: 4px;
  font-weight: 800; }

.single .mh-content {
  width: 100%; }

.archive .mh-content {
  width: 100%; }

.page-template-page-blogs .mh-content {
  width: 100%; }

.archive .articles-list *,
.page-template-page-blogs .articles-list * {
  box-sizing: border-box; }

@media screen and (min-width: 620px) {
  .archive .articles-list,
  .page-template-page-blogs .articles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + 2rem);
    margin-left: calc((2rem / 2)* -1); }
    .archive .articles-list > *,
    .page-template-page-blogs .articles-list > * {
      flex: 2 1 50%;
      max-width: 50%;
      padding: 1rem; } }

@media screen and (min-width: 767px) {
  .archive .articles-list,
  .page-template-page-blogs .articles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + 2rem);
    margin-left: calc((2rem / 2)* -1); }
    .archive .articles-list > *,
    .page-template-page-blogs .articles-list > * {
      flex: 3 1 33.33333%;
      max-width: 33.33333%;
      padding: 1rem; } }

@media screen and (min-width: 900px) {
  .archive .articles-list,
  .page-template-page-blogs .articles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + 2rem);
    margin-left: calc((2rem / 2)* -1); }
    .archive .articles-list > *,
    .page-template-page-blogs .articles-list > * {
      flex: 4 1 25%;
      max-width: 25%;
      padding: 1rem; } }

body {
  font-size: 16px;
  color: #333333; }

h1,
h2,
h3,
h4 {
  font-family: "Droid Serif", Georgia, serif;
  color: #2a2a2a; }

.entry-title {
  font-family: "Droid Serif", Georgia, serif;
  font-weight: normal;
  font-style: italic; }

h1.entry-title {
  font-size: 2.7em; }

.entry-subhead {
  font-family: "PT Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.3em;
  letter-spacing: 0.7px; }

.entry-content {
  font-family: Georgia, serif; }

.entry-meta {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.wp-caption-text {
  font-family: Georgia, serif;
  font-size: .8em; }

.mh-main-nav-wrap {
  background-color: transparent; }

.mh-main-nav {
  border-bottom: none;
  border-bottom-width: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
  .mh-main-nav li {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #9e9e9e;
    font-size: 10px;
    letter-spacing: 1.2px;
    line-height: 1.5em;
    font-weight: 300; }
    .mh-main-nav li:hover {
      background-color: transparent; }
      .mh-main-nav li:hover a {
        color: #9e9e9e; }
    .mh-main-nav li a {
      color: #9e9e9e; }
    .mh-main-nav li ul li:hover > ul {
      background-color: transparent; }
      .mh-main-nav li ul li:hover > ul a {
        color: #9e9e9e; }
  .mh-main-nav .menu > .current-menu-item {
    background-color: transparent;
    font-weight: 700; }
    .mh-main-nav .menu > .current-menu-item a {
      padding-bottom: 6px;
      border-bottom: 3px solid #2a2a2a;
      color: #2a2a2a; }

.mh-footer {
  color: #9e9e9e; }
  .mh-footer .mh-footer-nav {
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-size: 0.875rem; }
    .mh-footer .mh-footer-nav li {
      float: left;
      position: relative;
      font-weight: 700; }
      .mh-footer .mh-footer-nav li a {
        display: block;
        color: #9e9e9e;
        padding: 10px 20px; }

.slicknav_menu .slicknav_icon-bar {
  background-color: #2a2a2a;
  font-size: 16px; }

.slicknav_menu a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #2a2a2a;
  font-size: 10px;
  letter-spacing: 1.2px;
  line-height: 1.5em;
  font-weight: 300;
  text-transform: uppercase; }
  .slicknav_menu a:hover, .slicknav_menu a:focus {
    color: #2a2a2a; }

/**
 * Single Post
 */
.single .post {
  width: 95%;
  margin-right: auto;
  margin-left: auto; }

.single .entry-subhead {
  margin-top: .5em;
  margin-bottom: .5em; }

.single .entry-content {
  line-height: 1.5em;
  font-family: Georgia, serif;
  font-size: 1.26rem; }
  .single .entry-content p,
  .single .entry-content blockquote,
  .single .entry-content li {
    line-height: 1.5em;
    font-size: 1.26rem; }

.single .entry-meta {
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  border-bottom: none; }

.single .entry-meta-author a,
.single .entry-meta-date {
  text-transform: uppercase; }

.single .entry-thumbnail img {
  max-width: 100%;
  width: initial; }

.single .wp-caption-text {
  margin-bottom: 1em; }

/**
 * Archive
 */
.archive .mh-loop-item .mh-loop-thumb {
  float: none;
  margin-right: 0;
  max-width: 100%; }
  .archive .mh-loop-item .mh-loop-thumb img {
    max-width: 100%; }

.archive #mh-mobile .mh-posts-focus-thumb-small {
  max-width: 100%; }

.archive h3.entry-title {
  margin-top: .5em; }

.page .entry-content h3 {
  border-bottom: 1px solid #aeaeae;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #9e9e9e;
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 1.5em;
  font-weight: 300;
  text-transform: uppercase; }

.mh-widget-title {
  border-color: #aeaeae;
  border-width: 1px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #9e9e9e;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 1.5em;
  font-weight: 300;
  text-transform: uppercase; }

input[type="submit"] {
  background-color: #E50102; }

a.button {
  display: inline-block;
  min-width: 150px;
  font-weight: 700;
  color: #fff;
  padding: 10px 15px;
  background-color: #E50102;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border: 0;
  text-align: center; }
  a.button:hover {
    background: #2a2a2a; }
  a.button.subscribe {
    display: block; }

.mh-site-logo {
  padding-right: 0;
  padding-left: 0; }
  .mh-site-logo * {
    box-sizing: border-box; }

.header-widget .mh-widget {
  padding: 20px; }

.header-widget .widget_wpcom_social_media_icons_widget {
  margin-bottom: 0;
  padding-bottom: 0; }
  .header-widget .widget_wpcom_social_media_icons_widget ul {
    text-align: right; }
  .header-widget .widget_wpcom_social_media_icons_widget .genericon {
    font-size: 120%; }

.header-widget .mh-widget.widget_search {
  margin-bottom: 0;
  padding-top: 10px; }

.mh-footer,
.mh-copyright-wrap {
  background: #fff;
  color: #aeaeae; }
  .mh-footer a,
  .mh-copyright-wrap a {
    color: #aeaeae; }

.mh-footer {
  border-top: none; }
  .mh-footer .mh-footer-widgets {
    border-top: 1px solid #aeaeae; }

.mh-copyright-wrap {
  border-top: none; }

.mh-widget .mc4wp-form li {
  margin-bottom: .5em; }

.mh-home-columns .post h3.entry-title {
  margin-top: .5em; }

.mh-home-columns .post .mh-loop-content:before {
  content: "";
  display: table;
  clear: both; }

.mh-home-columns .post .mh-loop-thumb {
  width: 100%;
  max-height: 200px;
  overflow: hidden; }
  .mh-home-columns .post .mh-loop-thumb img {
    max-width: 100%; }
