/*
Theme Name:     The New Inquiry
Theme URI:      https://github.com/misfist/tni-theme
Description:    Custom theme for The New Inquiry.
Author:         Pea
Author URI:     https://github.com/misfist
Template:       gridbox
Version:        0.8.2
Text Domain:    tni
*/
